/* Palette color:
    Color Principal (#8E6E53)
    Color de Fondo Oscuro (#433E3F)
    Color de Fondo Principal (#F1F2EE)
    Color de Resalte (#7A7265)
    Color de Texto (#856D59)
*/
body {
  background-color: #f1f2ee;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: #f4f5f1;
}
nav,
.navbar-brand,
.nav-link {
  transition: color 0.3s ease, background-color 0.3s ease;
}
.hero-section {
  height: 100vh;
}
.name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  text-size-adjust: 100%;
}
.btn-light {
  background-color: #433e3f;
  color: #f1f2ee;
}
/* Estilo para el botón flotante */
.btn-light.position-fixed {
  z-index: 1050;
}
.custom {
  background-color: #856d59;
  color: #f1f2ee;
}
.list-group-item {
  background-color: #856d59;
  border: none;
  color: #f1f2ee;
}
/* Tema oscuro */
body.dark-theme {
  background-color: #433e3f;
  color: #f1f2ee;
}
body.dark-theme nav {
  background-color: #333;
}

body.dark-theme .navbar-brand,
body.dark-theme .nav-link {
  color: #f1f2ee !important;
}
body.dark-theme .btn-light {
  background-color: #f1f2ee;
  color: #433e3f;
}
body.dark-theme .btn-light:hover {
  background-color: #433e3f;
  color: #f1f2ee;
}
