/* Palette color:
    Color Principal (#8E6E53)
    Color de Fondo Oscuro (#433E3F)
    Color de Fondo Principal (#F1F2EE)
    Color de Resalte (#7A7265)
    Color de Texto (#856D59)
*/
body {
  background-color: #f1f2ee;
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  
}
.hero-section {
  height: 100vh;
}
.name-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
 text-size-adjust: 100%; 
}
